<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VSnackbar</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    <mip-shell>
      <script type="application/json">
     {
        "transitionContainsHeader": false,
        "routes": [
         {
            "pattern": "*",
            "meta": {
              "header": {
                "show": true
             },
              "view": {
                "isIndex": false
             }
           }
         }
        ]
     }
      </script>
    </mip-shell>
    <mip-data>
      <script type="application/json">
       {
          "snackbar": false,
          "y": "top",
          "x": null,
          "mode": "",
          "timeout": 6000,
          "text": "出现了 snackbar 的内容，设置了 timeout 时间后，自动隐藏",
          "snackbar0": false,
          "color": "",
          "mode0": "",
          "timeout0": 6000,
          "text0": "Hello, I'm a snackbar"
       }
      </script>
    </mip-data>

    <h2>基础样式</h2>
    <mip-v-card>
      <mip-v-card-text>
        <div class="container fluid">
          <div class="layout row wrap">
            <div class="flex xs12 sm3">
              <mip-v-checkbox
                m-bind:input-value.sync="x"
                label="Left"
                value="left"
              ></mip-v-checkbox>
            </div>

            <div class="flex xs6 sm3">
              <mip-v-checkbox
                m-bind:input-value.sync="x"
                label="Right"
                value="right"
              ></mip-v-checkbox>
            </div>

            <div class="flex xs6 sm3">
              <mip-v-checkbox
                m-bind:input-value.sync="y"
                label="Top"
                value="top"
              ></mip-v-checkbox>
            </div>

            <div class="flex xs6 sm3">
              <mip-v-checkbox
                m-bind:input-value.sync="y"
                label="Bottom"
                value="bottom"
              ></mip-v-checkbox>
            </div>

            <div class="flex xs12 sm3">
              <mip-v-checkbox
                m-bind:input-value.sync="mode"
                label="Multi-line (mobile)"
                value="multi-line"
              ></mip-v-checkbox>
            </div>

            <div class="flex xs12 sm3">
              <mip-v-checkbox
                m-bind:input-value.sync="mode"
                label="Vertical (mobile)"
                value="vertical"
              ></mip-v-checkbox>
            </div>

            <div class="flex xs12 sm4 offset-sm4">
              <mip-v-text-field
                m-bind:value.sync="text"
                label="Text"
                type="text"
              ></mip-v-text-field>
            </div>

            <div class="flex xs12 sm4">
              <mip-v-text-field
                m-bind:value.sync="timeout"
                label="Timeout"
                type="number"
              ></mip-v-text-field>
            </div>
          </div>

        </div>
        <mip-v-btn
          block
          color="primary"
          dark
          on="click:MIP.setData({ snackbar: true })"
        >
          Show Snackbar
        </mip-v-btn>
      </mip-v-card-text>

      <mip-v-snackbar
        m-bind:value.sync="snackbar"
        m-bind:timeout="+timeout"
        m-bind:left="x === 'left'"
        m-bind:right="x === 'right'"
        m-bind:top="y === 'top'"
        m-bind:bottom="y === 'bottom'"
        m-bind:multi-line="mode === 'multi-line'"
        m-bind:vertical="mode === 'vertical'"
        toppx="44"
      >
        <span m-text="text"></span>
        <mip-v-btn
          color="pink"
          flat
          on="click:MIP.setData({ snackbar: false })"
        >
          Close
        </mip-v-btn>
      </mip-v-snackbar>
    </mip-v-card>

    <h2>上下文</h2>
    <mip-v-card>
      <mip-v-card-text>
        <div class="container fluid">
          <div class="layout row wrap">
            <div class="flex xs12">
              <mip-v-radio-group m-bind:value.sync="color" row>
                <mip-v-radio
                  color="success"
                  label="success"
                  value="success"
                ></mip-v-radio>
                <mip-v-radio
                  color="info"
                  label="info"
                  value="info"
                ></mip-v-radio>
                <mip-v-radio
                  color="error"
                  label="error"
                  value="error"
                ></mip-v-radio>
                <mip-v-radio
                  color="cyan darken-2"
                  label="cyan darken-2"
                  value="cyan darken-2"
                ></mip-v-radio>
              </mip-v-radio-group>
            </div>
            <div class="flex xs12 sm3">
              <mip-v-checkbox
                mip-v-model="mode"
                label="Multi-line (mobile)"
                value="multi-line"
              ></mip-v-checkbox>
            </div>
            <div class="flex xs12 sm3">
              <mip-v-checkbox
                mip-v-model="mode"
                label="Vertical (mobile)"
                value="vertical"
              ></mip-v-checkbox>
            </div>
            <div class="flex xs12 sm4 offset-sm4">
              <mip-v-text-field
                m-bind:value.sync="text0"
                label="Text"
                type="text"
              ></mip-v-text-field>
            </div>
            <div class="flex xs12 sm4">
              <mip-v-text-field
                m-bind:value.sync="timeout0"
                label="Timeout"
                type="number"
              ></mip-v-text-field>
            </div>
          </div>
        </div>

        <mip-v-btn
          block
          color="primary"
          dark
          on="click:MIP.setData({ snackbar0: true })"
        >
          Show Snackbar0
        </mip-v-btn>
      </mip-v-card-text>
      <mip-v-snackbar
        m-bind:value.sync="snackbar0"
        m-bind:color="color"
        m-bind:multi-line="mode === 'multi-line'"
        m-bind:timeout="+timeout0"
        m-bind:vertical="mode === 'vertical'"
        toppx="44"
      >
        <span m-text="text0"></span>
        <mip-v-btn
          dark
          flat
          on="click:MIP.setData({ snackbar0: false })"
        >
          Close
        </mip-v-btn>
      </mip-v-snackbar>
    </mip-v-card>

    <script src="http://localhost:8080/dist/mip.js"></script>
    <script src="/dev/main.js"></script>
  </body>
</html>
